.table-height-450 {
    max-height: 400px;
}

.table-w-uset tbody td {
    min-width: unset !important;
}

.min-height-500 {
    min-height: 500px;
}

.max-height-100vh {
    height: calc(100vh - 313px);

    @media #{$sm} {
        height: calc(100vh - 367px);
    }

    @media #{$xs} {
        height: calc(100vh - 400px);
    }
}

.body-height-100vh {
    height: calc(100vh - 220px);
    overflow: hidden;
}


.basic-table,
.table-bg,
.table-color-col {
    width: 100%;
}

.basic-table thead th,
.table-bg thead th,
.table-color-col thead th {
    height: 50px;
    border-bottom: 1px solid var(--border-basic-table-thead);
    padding-left: 14px;
    color: var(--primary-title);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.basic-table thead th:first-child,
.table-bg thead th:first-child,
.table-color-col thead th:first-child {
    border-radius: 10px 0 0 0;
    padding-left: 0;
}

.basic-table tbody tr td:first-child,
.table-bg tbody tr td:first-child,
.table-color-col tbody tr td:first-child {
    padding-left: 0;
}

table tbody tr:first-child td {
    margin-top: 11px;
}

.basic-table thead th:last-child,
.table-bg thead th:last-child,
.table-color-col thead th:last-child {
    border-radius: 0 10px 0 0;
}

.basic-table tbody td,
.table-bg tbody td,
.table-color-col tbody td {
    font-weight: 400;
    padding: 14px;
    font-size: 14px;
    height: 56px;
    color: var(--primary-paragraph);
    margin-bottom: 9px;
}

.table-bg th,
.table-bg tr:nth-child(even) {
    background-color: var(--bg-basic-table-tbody);
}



.table-color-col tr:last-child td {
    border: none;
}


.basic-table.pagination-content .pagination,
.pagination-content.table-bg .pagination,
.pagination-content.table-color-col .pagination {
    width: 368px;
}

.basic-table.pagination-content .pagination li,
.pagination-content.table-bg .pagination li,
.pagination-content.table-color-col .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 32px;
    border: 1px solid #eaeaea;
    border-radius: 7px;
}

.basic-table.pagination-content .pagination li a,
.pagination-content.table-bg .pagination li a,
.pagination-content.table-color-col .pagination li a {
    color: var(--primary-title);
}

.basic-table.pagination-content .pagination li a i,
.pagination-content.table-bg .pagination li a i,
.pagination-content.table-color-col .pagination li a i {
    color: var(--primary-title);
}

.basic-table.pagination-content .pagination li:hover a,
.pagination-content.table-bg .pagination li:hover a,
.pagination-content.table-color-col .pagination li:hover a {
    color: var(--primary);
}

.basic-table.pagination-content .pagination li:hover,
.pagination-content.table-bg .pagination li:hover,
.pagination-content.table-color-col .pagination li:hover {
    border-color: var(--primary);
}

.selected {
    background: var(--primary);
}

.selected>a {
    color: white !important;
}

.table-top-componet .left-component {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px) {
    .table-top-componet .left-component {
        flex-direction: column;
    }
}

.table-top-componet .right-component a {
    float: right;
}

@media (max-width: 768px) {
    .table-top-componet .right-component a {
        float: left;
        margin-top: 20px;
    }
}

.basic-table tbody td,
.table-bg tbody td,
.table-color-col tbody td {
    min-width: 120px;
}





/* Datatable */
.table-content .table-toolbar {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
}

.table-content .table-toolbar .form-select {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--primary-title);
    width: auto;
    padding: 10px 30px 10px 14px;
    border: 1px solid var(--border-table-toolbar-per-page);
    border-radius: 5px;
    background-image: url("../images/basic-datatable/show/down-icon.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
    outline: 0;
    box-shadow: none;
    background-color: var(--bg-table-toolbar-per-page);
}

.table-content .table-toolbar .btn-add {
    text-decoration: none;
    padding: 14px 17px;
    border: 1px solid transparent;
    background: var(--primary);
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #ffffff;
    text-transform: capitalize;
}

.table-content .table-toolbar .btn-daterange,
.table-content .table-toolbar .dropdown-designation .btn-designation,
.table-content .table-toolbar .dropdown-export .btn-export {
    background-image: var(--primary), var(--primary);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--bg-table-toolbar-btn-outline-primary) inset;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--primary-title);
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}

.table-content .table-toolbar .btn-daterange .icon,
.table-content .table-toolbar .dropdown-designation .btn-designation .icon,
.table-content .table-toolbar .dropdown-export .btn-export .icon {
    color: #21c6fb;
    font-size: 14px;
}

.table-content .table-toolbar .btn-daterange:hover,
.table-content .table-toolbar .dropdown-designation .btn-designation:hover,
.table-content .table-toolbar .dropdown-export .btn-export:hover {
    box-shadow: none;
    background: var(--primary);
    color: #ffffff;
}

.table-content .table-toolbar .btn-daterange:hover .icon,
.table-content .table-toolbar .dropdown-designation .btn-designation:hover .icon,
.table-content .table-toolbar .dropdown-export .btn-export:hover .icon {
    color: #ffffff;
}

.table-content .table-toolbar .btn-daterange:focus,
.table-content .table-toolbar .dropdown-designation .btn-designation:focus,
.table-content .table-toolbar .dropdown-export .btn-export:focus {
    box-shadow: none;
    background: var(--primary);
    color: #ffffff;
}

.table-content .table-toolbar .btn-daterange:focus .icon,
.table-content .table-toolbar .dropdown-designation .btn-designation:focus .icon,
.table-content .table-toolbar .dropdown-export .btn-export:focus .icon {
    color: #ffffff;
}

.table-content .table-toolbar .search-box {
    position: relative;
    border: 1px solid var(--border-table-toolbar-search);
    border-radius: 5px;
}

.table-content .table-toolbar .search-box .form-control,
.table-content .table-toolbar .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .search-box .form-select {
    padding: 8px 45px 8px 16px;
    border: none;
    box-shadow: none;
    background-color: var(--bg-table-toolbar-search);
    color: var(--primary-title);
    height: 48px;
}

.table-content .table-toolbar .search-box .form-control::placeholder,
.table-content .table-toolbar .search-box .profile-content .profile-body-form .form-box .form-select::placeholder,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .search-box .form-select::placeholder {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #b2bec3;
}

.table-content .table-toolbar .search-box .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #6f767e;
}



.table-content .table-toolbar .dropdown-designation .search-content {
    padding: 20px;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 50px;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box .form-control,
.table-content .table-toolbar .dropdown-designation .search-content .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .dropdown-designation .search-content .search-box .form-select {
    width: 232px;
    padding: 8px 45px 8px 16px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    background-color: #ffffff;
    color: #1a1d1f;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box .form-control::placeholder,
.table-content .table-toolbar .dropdown-designation .search-content .search-box .profile-content .profile-body-form .form-box .form-select::placeholder,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .dropdown-designation .search-content .search-box .form-select::placeholder {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #b2bec3;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #6f767e;
}

.table-content .table-toolbar .dropdown-designation .list {
    padding: 26px;
    margin: 0;
}

.table-content .table-toolbar .dropdown-designation .list .list-item {
    list-style: none;
    margin-bottom: 24px;
}

.table-content .table-toolbar .dropdown-designation .list .list-item:last-child {
    margin-bottom: 0;
}

.table-content .table-toolbar .dropdown-designation .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #6f767e;
}

.table-content .table-toolbar .dropdown-designation .dropdown-item:hover {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-designation .dropdown-item:focus {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-designation .dropdown-item:active {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-designation .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.table-content .table-toolbar .dropdown-action .btn-dropdown {
    border: 1px solid var(--border-table-toolbar-btn-action);
    width: 40px;
    height: 40px;
    background: var(--bg-table-toolbar-btn-action);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    border-radius: 50px;
    color: var(--primary);
    font-size: 16px;
}

.table-content .table-toolbar .dropdown-action .btn-dropdown:focus {
    background: var(--primary);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    color: #ffffff;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu {
    position: relative;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 24px;
    margin-top: 10px !important;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 8px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    transform: rotate(45deg);
    padding: 10px;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu::after {
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
    background: #ffffff;
    padding: 10px 15px;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu li {
    margin-bottom: 20px;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.table-content .table-toolbar .dropdown-action .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.table-content .table-toolbar .dropdown-action .dropdown-item:hover {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-action .dropdown-item:focus {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-action .dropdown-item:active {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-action .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.table-content .table-toolbar .dropdown-export .dropdown-menu {
    position: relative;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 24px;
    margin-top: 10px !important;
}

.table-content .table-toolbar .dropdown-export .dropdown-menu li {
    margin-bottom: 20px;
}

.table-content .table-toolbar .dropdown-export .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.table-content .table-toolbar .dropdown-export .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.table-content .table-toolbar .dropdown-export .dropdown-item:hover {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-export .dropdown-item:focus {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-export .dropdown-item:active {
    background-color: #ffffff;
}

.table-content .table-toolbar .dropdown-export .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.table-content.table-basic .card {
    background-color: var(--bg-table-card);
    border: 1px solid transparent;
    box-shadow: var(--theme-shadow);
    border-radius: 8px;
}

.table-content.table-basic .card-body {
    padding: 40px 40px;
}

.table-content.table-basic .card-header {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--primary-title);
    padding: 15px 40px;
    border-bottom: 1px solid var(--border-table-card-header);
    background-color: var(--bg-table-card-header);
    border-radius: 0;
}

.table-content.table-basic .table {
    border-color: var(--border-table);
    vertical-align: middle;
    margin: 0;
    border-color: transparent;
}

.table-content.table-basic .table .sorting_asc,
.table-content.table-basic .table .sorting_desc {
    position: relative;
}

.table-content.table-basic .table .sorting_asc::before,
.table-content.table-basic .table .sorting_desc::before {
    position: absolute;
    left: auto;
    right: 16px;
    content: "\f106";
    font-family: "Font Awesome 6 Free";
    font-size: 12px;
    font-weight: 900;
    top: 42%;
    color: var(--color-table-icon-sorting-asc-up);
    cursor: pointer;
    transform: translateY(-42%);
}

.table-content.table-basic .table .sorting_asc::after,
.table-content.table-basic .table .sorting_desc::after {
    position: absolute;
    left: auto;
    right: 16px;
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-size: 12px;
    font-weight: 900;
    top: 62%;
    color: var(--color-table-icon-sorting-asc-down);
    cursor: pointer;
    transform: translateY(-62%);
}

.table-content.table-basic .table .sorting_desc::before {
    color: var(--color-table-icon-sorting-desc-up);
}

.table-content.table-basic .table .sorting_desc::after {
    color: var(--color-table-icon-sorting-desc-down);
}

.table-content.table-basic .table .check-box .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-table-checkbox);
    background-color: var(--bg-table-checkbox);
}

.table-content.table-basic .table .check-box .form-check-input:focus {
    box-shadow: none;
}

.table-content.table-basic .table .check-box .form-check-input:checked {
    background: url("../images/basic-datatable/check/ok.svg"), var(--primary);
    background-repeat: no-repeat;
    background-position: center;
}

.table-content.table-basic .table .thead {
    background: transparent;
    border-bottom-color: var(--border-table-thead);
}

.table-content.table-basic .table .thead tr th {
    padding: 0.75rem;
    padding-left: 0.75rem;
    border: 0;
    text-transform: uppercase;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    vertical-align: middle;
    white-space: nowrap;
    color: var(--primary-title);
}

.table-content.table-basic .table .tbody tr:nth-of-type(odd) {
    background: var(--bg-table-tbody);
}

.table-content.table-basic .table .tbody tr td {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary-title);
    padding: 16px;
    vertical-align: middle;
    white-space: nowrap;
}

.table-content.table-basic .table .dropdown-action .btn-dropdown {
    border: 1px solid var(--border-table-toolbar-btn-action);
    width: 28px;
    height: 28px;
    background: var(--bg-table-toolbar-btn-action);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    border-radius: 50px;
    color: var(--primary);
    font-size: 10px;
}

.table-content.table-basic .table .dropdown-action .btn-dropdown:focus {
    background: var(--primary);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    color: #ffffff;
}

.table-content.table-basic .table .dropdown-action .dropdown-menu {
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 24px;
    margin-top: 10px !important;
}

.table-content.table-basic .table .dropdown-action .dropdown-menu li {
    margin-bottom: 20px;
}

.table-content.table-basic .table .dropdown-action .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.table-content.table-basic .table .dropdown-action .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.table-content.table-basic .table .dropdown-action .dropdown-item:hover {
    background-color: #ffffff;
}

.table-content.table-basic .table .dropdown-action .dropdown-item:focus {
    background-color: #ffffff;
}

.table-content.table-basic .table .dropdown-action .dropdown-item:active {
    background-color: #ffffff;
}

.table-content.table-basic .table .dropdown-action .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}



.profile-table-content .table-toolbar {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
}

.profile-table-content .table-toolbar .form-select {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--primary-title);
    width: auto;
    padding: 10px 30px 10px 14px;
    border: 1px solid var(--border-table-toolbar-per-page);
    border-radius: 5px;
    background-image: url("../images/basic-datatable/show/down-icon.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
    outline: 0;
    box-shadow: none;
    background-color: var(--bg-table-toolbar-per-page);
}

.profile-table-content .table-toolbar .btn-add {
    text-decoration: none;
    padding: 10px 17px;
    background: var(--primary);
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #ffffff;
}

.profile-table-content .table-toolbar .btn-daterange,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation,
.profile-table-content .table-toolbar .dropdown-export .btn-export {
    background-image: var(--primary), var(--primary);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--bg-table-toolbar-btn-outline-primary) inset;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--primary-title);
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}

.profile-table-content .table-toolbar .btn-daterange .icon,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation .icon,
.profile-table-content .table-toolbar .dropdown-export .btn-export .icon {
    color: #21c6fb;
    font-size: 14px;
}

.profile-table-content .table-toolbar .btn-daterange:hover,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation:hover,
.profile-table-content .table-toolbar .dropdown-export .btn-export:hover {
    box-shadow: none;
    background: var(--primary);
    color: #ffffff;
}

.profile-table-content .table-toolbar .btn-daterange:hover .icon,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation:hover .icon,
.profile-table-content .table-toolbar .dropdown-export .btn-export:hover .icon {
    color: #ffffff;
}

.profile-table-content .table-toolbar .btn-daterange:focus,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation:focus,
.profile-table-content .table-toolbar .dropdown-export .btn-export:focus {
    box-shadow: none;
    background: var(--primary);
    color: #ffffff;
}

.profile-table-content .table-toolbar .btn-daterange:focus .icon,
.profile-table-content .table-toolbar .dropdown-designation .btn-designation:focus .icon,
.profile-table-content .table-toolbar .dropdown-export .btn-export:focus .icon {
    color: #ffffff;
}

.profile-table-content .table-toolbar .search-box {
    position: relative;
    border: 1px solid var(--border-table-toolbar-search);
    border-radius: 5px;
}

.profile-table-content .table-toolbar .search-box .form-control,
.profile-table-content .table-toolbar .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .profile-table-content .table-toolbar .search-box .form-select {
    padding: 8px 45px 8px 16px;
    border: none;
    box-shadow: none;
    background-color: var(--bg-table-toolbar-search);
    color: var(--primary-title);
}

.profile-table-content .table-toolbar .search-box .form-control::placeholder,
.profile-table-content .table-toolbar .search-box .profile-content .profile-body-form .form-box .form-select::placeholder,
.profile-content .profile-body-form .form-box .profile-table-content .table-toolbar .search-box .form-select::placeholder {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #b2bec3;
}

.profile-table-content .table-toolbar .search-box .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #6f767e;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-menu {
    position: relative;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin-top: 10px !important;
    padding: 0;
}

.profile-table-content .table-toolbar .dropdown-designation .search-content {
    padding: 20px;
}

.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 50px;
}

.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .form-control,
.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .form-select {
    width: 232px;
    padding: 8px 45px 8px 16px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    background-color: #ffffff;
    color: #1a1d1f;
}

.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .form-control::placeholder,
.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .profile-content .profile-body-form .form-box .form-select::placeholder,
.profile-content .profile-body-form .form-box .profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .form-select::placeholder {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #b2bec3;
}

.profile-table-content .table-toolbar .dropdown-designation .search-content .search-box .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #6f767e;
}

.profile-table-content .table-toolbar .dropdown-designation .list {
    padding: 26px;
    margin: 0;
}

.profile-table-content .table-toolbar .dropdown-designation .list .list-item {
    list-style: none;
    margin-bottom: 24px;
}

.profile-table-content .table-toolbar .dropdown-designation .list .list-item:last-child {
    margin-bottom: 0;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #6f767e;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-item:hover {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-item:focus {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-item:active {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-designation .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.profile-table-content .table-toolbar .dropdown-action .btn-dropdown {
    border: 0;
    width: 40px;
    height: 40px;
    background: var(--bg-table-toolbar-btn-action);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    border-radius: 50px;
    color: var(--white);
    font-size: 16px;
    background: var(--primary);
}

.profile-table-content .table-toolbar .dropdown-action .btn-dropdown:focus {
    background: var(--primary);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu {
    position: relative;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 24px;
    margin-top: 10px !important;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 8px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    transform: rotate(45deg);
    padding: 10px;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu::after {
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
    background: #ffffff;
    padding: 10px 15px;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu li {
    margin-bottom: 7px;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item:hover {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item:focus {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item:active {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-menu {
    position: relative;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 24px;
    margin-top: 10px !important;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-menu li {
    margin-bottom: 20px;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item:hover {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item:focus {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item:active {
    background-color: #ffffff;
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.profile-table-content .table {
    border-color: var(--border-table);
    vertical-align: middle;
    margin: 0;
}

.profile-table-content .table .sorting_asc,
.profile-table-content .table-content.table-basic .table .sorting_desc,
.table-content.table-basic .profile-table-content .table .sorting_desc,
.profile-table-content .table .sorting_desc {
    position: relative;
}

.profile-table-content .table .sorting_asc::before,
.profile-table-content .table-content.table-basic .table .sorting_desc::before,
.table-content.table-basic .profile-table-content .table .sorting_desc::before,
.profile-table-content .table .sorting_desc::before {
    position: absolute;
    left: auto;
    right: 16px;
    content: "\f106";
    font-family: "Font Awesome 6 Free";
    font-size: 12px;
    font-weight: 900;
    top: 42%;
    color: var(--color-table-icon-sorting-asc-up);
    cursor: pointer;
    transform: translateY(-42%);
}

.profile-table-content .table .sorting_asc::after,
.profile-table-content .table-content.table-basic .table .sorting_desc::after,
.table-content.table-basic .profile-table-content .table .sorting_desc::after,
.profile-table-content .table .sorting_desc::after {
    position: absolute;
    left: auto;
    right: 16px;
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-size: 12px;
    font-weight: 900;
    top: 62%;
    color: var(--color-table-icon-sorting-asc-down);
    cursor: pointer;
    transform: translateY(-62%);
}

.profile-table-content .table .sorting_desc::before {
    color: var(--color-table-icon-sorting-desc-up);
}

.profile-table-content .table .sorting_desc::after {
    color: var(--color-table-icon-sorting-desc-down);
}

.profile-table-content .table .check-box .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-table-checkbox);
    background-color: var(--bg-table-checkbox);
}

.profile-table-content .table .check-box .form-check-input:focus {
    box-shadow: none;
}

.profile-table-content .table .check-box .form-check-input:checked {
    background: url("../images/basic-datatable/check/ok.svg"), var(--primary);
    background-repeat: no-repeat;
    background-position: center;
}

.profile-table-content .table .thead {
    background: var(--bg-table-thead);
    border-bottom-color: var(--border-table-thead);
}

.profile-table-content .table .thead tr th {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary-title);
    padding: 16px 32px 16px 16px;
    vertical-align: middle;
    white-space: nowrap;
    border-color: var(--border-table-thead);
}

.profile-table-content .table .tbody tr:nth-of-type(odd) {
    background: var(--bg-table-tbody);
}

.profile-table-content .table .tbody tr td {
    font-family: var(--poppins);
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: var(--primary-title);
    padding: 16px;
    vertical-align: middle;
    white-space: nowrap;
}

.profile-table-content .table .dropdown-action .btn-dropdown {
    border: 1px solid var(--border-table-toolbar-btn-action);
    width: 28px;
    height: 28px;
    background: var(--bg-table-toolbar-btn-action);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    border-radius: 50px;
    color: var(--primary);
    font-size: 10px;
}

.profile-table-content .table .dropdown-action .btn-dropdown:focus {
    background: var(--primary);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    color: #ffffff;
}

.profile-table-content .table .dropdown-action .dropdown-menu {
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 16px;
    margin-top: 10px !important;
}

.profile-table-content .table .dropdown-action .dropdown-menu li {
    margin-bottom: 7px;
}

.profile-table-content .table .dropdown-action .dropdown-menu li:last-child {
    margin-bottom: 0;
}

.profile-table-content .table .dropdown-action .dropdown-item {
    padding: 0 0;
    display: block;
    font-family: var(--poppins);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #6f767e;
}

.profile-table-content .table .dropdown-action .dropdown-item:hover {
    background-color: #ffffff;
}

.profile-table-content .table .dropdown-action .dropdown-item:focus {
    background-color: #ffffff;
}

.profile-table-content .table .dropdown-action .dropdown-item:active {
    background-color: #ffffff;
}

.profile-table-content .table .dropdown-action .dropdown-item .icon {
    color: var(--primary);
    font-size: 14px;
}

.profile-table-content .table .dropdown-action .btn-dropdown {
    background: var(--primary);
    box-shadow: 1px 1px 8px rgba(16, 108, 255, 0.12);
    color: #ffffff;
}

.table-content.table-basic .table .dropdown-action .dropdown-item:hover {
    color: var(--primary-title) !important;
    background-color: var(--bg-secondary);
}

.dropdown-item:hover,
.table-content .table-toolbar .dropdown-export .dropdown-item:hover {
    color: var(--primary-title);
    background: transparent;
}


.table-content .table-toolbar .dropdown-action .dropdown-menu::before {
    background: var(--bg-secondary);
    border: 1px solid var(--border-table-toolbar-btn-action);
}

.table-content .table-toolbar .dropdown-action .dropdown-menu::after {
    background: var(--bg-secondary);
}

.table-content .table-toolbar .dropdown-action .dropdown-item:hover {
    background: var(--bg-secondary);
    color: var(--primary-title);
}

.table-content .table-toolbar .dropdown-designation .dropdown-item:hover {
    background-color: transparent;
    color: var(--text-color-one);
}


.table-content .table-toolbar .dropdown-export .dropdown-item:focus {
    background-color: var(--bg-secondary);
    color: var(--primary-title);
}

.table-content.table-basic .table .dropdown-action .dropdown-item:focus {
    background-color: var(--bg-secondary);
    color: var(--primary-title);
}


.profile-table-content .table-toolbar .dropdown-export .dropdown-item:hover {
    background-color: transparent;
    color: var(--primary-title);
}

.profile-table-content .table-toolbar .dropdown-export .dropdown-item:hover {
    background-color: transparent;
    color: var(--primary-title);
}


.profile-table-content .table-toolbar .dropdown-action .dropdown-menu::before {
    background: var(--bg-secondary);
    border: 1px solid var(--border-table-toolbar-btn-action);
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-menu::after {
    background: var(--bg-secondary);
}

.profile-table-content .table-toolbar .dropdown-action .dropdown-item:hover {
    background: var(--bg-secondary);
    color: var(--primary-title);
}

/* flug icon size  */
.table-content.table-basic .flag-icon {
    font-size: 22px;
}


.table-content.table-basic .table .dropdown-action .dropdown-item {
    line-height: 18px;
}

.table-content.table-basic .table .dropdown-action .dropdown-item i {
    font-size: 15px;
}

.table-content.table-basic .table .thead tr th,
.table-content.table-basic .table .tbody tr td {
    height: 45px;
}

.table.table-bordered tbody tr {
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #e1e3ea;
}

.table-content.table-basic .table .thead tr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #e1e3ea;
}

.table-content.table-basic .card-body,
.table-content.table-basic .card-header {
    padding: 24px;
}

.table-content.table-basic .table .dropdown-action .btn-dropdown {
    background: #6c757da6;
    color: var(--white);
    border: none;
    box-shadow: none;
}


.table-content.table-basic .table .tbody tr td {
    font-size: 12px;
    padding: 6px 12px;
}


.table-content .table-toolbar .dropdown-action .btn-dropdown {
    color: var(--primary);
    font-size: 16px;
    background: var(--primary);
}

.table-content .table-toolbar .btn-daterange,
.table-content .table-toolbar .dropdown-designation .btn-designation,
.table-content .table-toolbar .dropdown-export .btn-export {
    background-image: unset;
    box-shadow: none;
    border: 1px solid var(--primary-border);
    background: none;
}

.table-content .table-toolbar .search-box .form-control,
.table-content .table-toolbar .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .search-box .form-select {
    border: 1px solid var(--primary-border);
}

.table-content .table-toolbar .form-select {
    border: 1px solid var(--primary-border);
}

.table-content .table-toolbar .search-box {
    border: 0;
}

.table-content .table-toolbar .dropdown-action .dropdown-menu li {
    margin-bottom: 6px;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box .form-control,
.table-content .table-toolbar .dropdown-designation .search-content .search-box .profile-content .profile-body-form .form-box .form-select,
.profile-content .profile-body-form .form-box .table-content .table-toolbar .dropdown-designation .search-content .search-box .form-select {
    padding: 8px 34px 8px 16px;
    border-radius: 4px;
    box-shadow: none !important;
    background-color: #ffffff;
    box-shadow: none;
    background: none;
    background: none !important;
    border: none !important;
}

.table-content .table-toolbar .dropdown-designation .search-content .search-box {
    border-radius: 8px;
}


.table-content .table-toolbar .dropdown-action .btn-dropdown {
    background: var(--primary);
    color: var(--white);
}

.table-content.table-basic .table .tbody tr:nth-of-type(2n + 1) {
    background: transparent;
}

.table-content .table-toolbar {
    border-bottom: 1px solid var(--primary-border);
    padding: 0 0 30px 0 !important;
    margin-bottom: 20px;
}


.card .invoice .table-responsive table thead tr th {
    color: var(--primary-title);
}

.card .invoice .table-responsive table tbody tr th {
    color: var(--primary-title);
}

.card .invoice .table-responsive table tbody tr td {
    color: var(--primary-title);
}

.table tbody tr td {
    color: var(--primary-title);
}

.table tbody tr td strong {
    color: var(--primary-title);
}

.height-500 {
    height: 500px;
}


.table-head-border {
    thead tr {
        border-bottom: 1px solid var(--primary-border);
        margin-bottom: 11px;
    }

}

.table-td-border {
    tbody tr {
        border-bottom: 1px solid var(--primary-border);

        &:last-child {
            border-bottom: 0;
        }
    }

}

.table-td-border-dotted {
    tbody tr {
        border-bottom: 1px dotted var(--primary-border);

        &:last-child {
            border-bottom: 0;
        }
    }

}

.border {
    border: 1px solid var(--primary-border) !important;
}

.mw-100 {
    min-width: 100px;
}

/* summary start*/


.summary-listing {
    display: flex; // Change to flex for better alignment and control
    flex-wrap: wrap;

    .single-summary-list {
        display: inline-block;

        &:not(:last-child) {
            border-right: 1px solid var(--border-primary);
            margin-right: 10px;
            padding-right: 10px;

            @media screen and (max-width: 575px) {
                border-right: 0;
                margin-right: 5px;
                padding-right: 5px;
            }
        }

        .number {
            font-weight: 500;
            font-size: 18px;
            color: var(--primary-title);

            @media screen and (max-width: 575px) {
                font-size: 16px;
            }
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            color: var(--primary-title);
            margin: 0 10px;
            text-transform: capitalize;

            &:nth-child(2) {
                color: #0CAF60;
            }

            &:nth-child(3) {
                color: #FF6767;
            }

            &:nth-child(4) {
                color: #534ABA;
            }

            &:nth-child(5) {
                color: #ff991a;
            }
        }
    }

    @media screen and (max-width: 575px) {
        column-count: 1;
    }
}