/* -------------------------------  
    Footer 
------------------------------- */

.footer {
    border-top: 0;
    border-bottom: 0;
    background: var(--white);
    box-shadow: var(--theme-shadow);
    padding: 21px 20px;
    width: 100%;
    border-radius: 8px;
}

.footer p {
    display: flex;
    align-items: center;
    color: var(--primary-paragraph);
    margin-bottom: 0;
    font-size: 14px;
}