/* ---------------------------------
    Sidebar  
--------------------------------- */

.sidebar {
    position: fixed;
    top: 99px;
    left: 18px;
    bottom: 18px;
    z-index: 300;
    background-color: var(--white);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0) 0px 6px 12px -2px, rgba(0, 0, 0, 0.04) 0px 3px 7px -3px;
    border: 1px solid rgba(var(--primary-rgb), .2);

    transition: .2s;
    @media #{$xs-to-lg-max}{
        background-color: var(--bg-secondary);
        left: -100%;
    }
    .sidebar-menu {
        padding: 11px 0 135px;
        height: calc(100vh - 94px);
        top: 0 !important;
        position: relative;
        overflow-x: none;
       
        .sidebar-menu {
            .sidebar-menu-item {
                .parent-item-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    color: var(--secondary-title);
                    gap: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 12px 14px;
                    margin: 3px 18px;
                    border-radius: 5px;
                    position: relative;
                    text-transform: capitalize;
                    position: relative;
                    &::after {
                        content: "\f039";
                        font-family: var(--remix-icon);
                        font-weight: 300;
                        position: absolute;
                        right: 13px;
                        top: 5px;
                        font-size: 22px;
                        color: var(--primary);
                        opacity: 0;
                        visibility: hidden;
                    }
                    i{
                        font-size: 22px;
                        line-height: 1;
                        color:var(--primary);
                    }
                }
                &.active-menu > .parent-item-content {
                    color: #fff !important;
                    background: var(--primary);
                    &::after {
                        color: #fff;
                        opacity: 1;
                        visibility: visible;
                    }
                    i{
                        color:#fff;
                    }
                }
                &:hover{
                    .parent-item-content {
                        background:rgba(var(--primary-rgb), 0.1);
                        &::after {
                            color: var(--primary);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &.active-menu > .parent-item-content {
                        color:#fff !important;
                        background: var(--primary);
                        &::after {
                            color: #fff;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .close-toggle {
        display: none;
    }
    .sidebar-logo {
        height: 70px;
        padding: 13px 15px !important;
        border-top: 1px solid var(--primary-border);
        min-height: 80px;
        z-index: 12;
        background: var(--white);
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 100%;
    }
}

/* ---------------------------------
   Body layout main contents
--------------------------------- */
#layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main-content {
        height: calc(100vh - 18px);
        margin-left: 320px;
        padding-top: 99px;
        padding-left: 18px;
        padding-right: 18px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 4px;
        gap: 18px;

        transition: .3s;
        @media #{$xs-to-lg-max}{
            padding-left: 20px !important;
            padding-right: 20px !important;
            width: 100%;
            margin-left: 0;
        }

        .page-content {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            gap: 18px;
        }

    }

    // Sidebar Collapsed
    &.half-expand {
        .sidebar{
            left: -100%;
            @media #{$xs-to-lg-max}{
                left: 20px;
                position: absolute;
            }
        }
        .main-content{
            margin-left: 0px;
        }
    }
}

.sidebar-toggle {
    font-size: 21px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    border-radius: 4px;
    color: var(--primary-paragraph);
    transition: 0.3s;
    border: 1px solid var(--primary-border);
    cursor: pointer;
    background: none;
    // &:hover {
    //     background: var(--primary);
    //     color: var(--white);
    //     border: 1px solid transparent !important;
    // }
}
